@import "../styles/animation.scss";

.new-chat {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;

  .mask-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    animation: slide-in-from-top ease 0.3s;
  }

  .mask-cards {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 20px;
    animation: slide-in ease 0.3s;

    .mask-card {
      padding: 0;
      border: none;
      box-shadow: none;
      border-radius: 0;
      background: none;
      transform: none;
    }
  }

  .title {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 1vh;
    animation: slide-in ease 0.35s;
  }

  .sub-title {
    animation: slide-in ease 0.4s;
  }

  .actions {
    margin-top: 5vh;
    margin-bottom: 2vh;
    animation: slide-in ease 0.45s;
    display: flex;
    justify-content: center;
    font-size: 12px;

    .skip {
      margin-left: 10px;
    }
  }

  .masks {
    flex-grow: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8px 16px;
    padding-top: 20px;
    animation: slide-in ease 0.5s;

    .mask {
      display: flex;
      align-items: center;
      padding: 10px 14px;
      border: var(--border-in-light);
      box-shadow: var(--card-shadow);
      background-color: var(--white);
      border-radius: 10px;
      min-width: 160px;
      transform: scale(1);
      cursor: pointer;
      transition: all ease 0.3s;
      margin: 0;

      &:hover {
        transform: translateY(-5px) scale(1.1);
        z-index: 999;
        border-color: var(--primary);
      }

      .mask-name {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}

.img-gradient-mask {
  position: relative;
  display: inline-block;
}

.img-gradient-mask img {
  display: block;
}

.img-gradient-mask::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px; // 渐变高度可根据需要调整
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
}
